.featuredContainer {
  scroll-snap-type: x proximity;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.featuredContainer::-webkit-scrollbar {
  display: none;
}

.nftCard {
  scroll-snap-align: center;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 6px;
  margin-right: 3rem;
}

.emptyItem {
  flex-shrink: 0;
  flex-grow: 0;
}

.containerFlex {
  position: relative;
  z-index: 1;
  text-align: center;
}

.blurrer {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(30px);
}